<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
  <div class="card">
    <div class="row">
      <div class="col-md-8 cart">

        <div class="title">
          <div class="row">
            <div class="col">
              <h4 style="color: #64113F;"><b>My Shopping Cart</b></h4>
            </div>
            <div class="col align-self-center text-right " style="color: #64113F;">{{CartProducts.length}} items</div>
          </div>
        </div>
        <div class="row border-top border-bottom" *ngFor="let item of CartProducts">
          <input type="hidden" #Itemid value={{item.product._id}}>

          <div class="row main align-items-center">
            <div class="col-2"><img class="img-fluid" src="assets/img/{{item.product.Images[0]}}"></div>
            <div class="col">
              <div class="row">Name : {{item.product.Name}}</div>
              <div class="row">Color : {{item.product.Color}}</div>
              <button type="button" (click)="RemoveItemFromCart(Itemid.value)" class="btn-danger btn-xs trash" title="Remove item"><i class="fas fa-trash"></i></button>
            </div>
            <div class="col d-flex">
              <button class=" btn-sm ms-2 plusbtn" (click)="ClickDecQuantity(item)">
                <i class="fas fa-minus minus-icon "></i>
              </button>
              <label #quan id="form1" min="1" name="quantity" type="number" class="form-control ms-2"
                style="width: 40px;">{{item.quantity}}</label>
              <button class=" btn-sm plusbtn ms-2"   (click)="ClickIncQuantity(item)">
                <i class="fas fa-plus minus-icon"></i>
              </button>
            </div>


            <strong style="color:green">Price: {{item.product.Price}} * {{item.quantity}} = {{item.product.Price*item.quantity}}EGP</strong>
          </div>
        </div>
        <div class="back-to-shop"><a routerLink="/">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
      </div>

      <div class="col-md-4 summary">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">ITEMS {{CartProducts.length}}</div>
          <div class="col text-right">{{ItemsPrice}} EGP</div>
        </div>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">SHIPPING</div>
          <div class="col text-right">40 EGP</div>
        </div>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL AMOUNT</div>
          <div class="col text-right">{{(ItemsPrice+ShippingPrice)}} EGP</div>
        </div>
        <button *ngIf="ItemsPrice" class="btn"  (click)="ShowOrderDetails()">GO TO CHECKOUT</button>
      </div>
    </div>
  </div>
</body>

</html>
