<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-b1K5+5/5n3dh87vTY8vfWcX9XABjhezrHGbBdCmzVRHmI1w+sKiuOvSpPQWYwe0X" crossorigin="anonymous">

</head>
<body>


  <div class="container rounded bg-white mt-5 mb-5 card " *ngIf="userCanAdd">
    <div class="row">
      <form action="">
        <div class="col-md-8 cart ">
          <div class="title">
            <div class="row">
              <div class="col">
                <h4 style="color: #64113F;"><b>Add New Product </b></h4>
              </div>
            </div>
          </div>
          <div class="row border-top border-bottom">
            <div class="row main align-items-center">

              <div>
                <div class="col">
                  <label for="name">Product Name
                  </label>
                  <div class="">
                    <input type="text" id="name" name="name" placeholder="Product Name" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Product Name'" class="form-control validate single-input"
                      [(ngModel)]="productName" required>
                  </div>
                </div>
                <div class="col">
                  <label for="description">Description
                  </label>
                  <div class="">
                    <input type="text" name="message" placeholder="Description" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Description'" [(ngModel)]="productDescription" required
                      class="form-control validate single-input">
                  </div>
                </div>
                <div class="col">
                  <label for="cat">Product Category
                  </label>
                  <select #category class="single-input" style="height: 45px;" id="category"
                    (change)="onSelectionCategoryChange(category.value)">
                    <option *ngFor="let c of categories" [value]="c.name">
                      {{c.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row main align-items-center">
                <div class="col">
                  <label for="price">Product Price
                  </label>
                  <div class="">
                    <input type="number" name="price" placeholder="Product Price" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Product Price'" required [(ngModel)]="productPrice"
                      class="form-control validate single-input">
                  </div>
                </div>
                <div class="col">
                  <label for="color">Color
                  </label>
                  <div class="">
                    <input type="text" name="color" placeholder="Product Color" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Product Color'" required [(ngModel)]="productColor"
                      class="form-control validate single-input">
                  </div>
                </div>
                <div class="col">
                  <label for="stock">Units In Stock
                  </label>
                  <div class="">
                    <input type="number" name="stock" placeholder="Units In Stock" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Units In Stock'" required [(ngModel)]="productQuantity"
                      class="form-control validate single-input">
                  </div>
                </div>
              </div>
              <div class="row main align-items-center">
                <div class="col">
                  Donate
                  <label>
                    <input type="checkbox" class=" filled-in" (change)="OnChecked($event)" />
                  </label>
                </div>
                <div class="col" *ngIf="isDonated">
                  <label for="category">Charity</label>
                  <select #charity class="single-input" style="height: 45px;" id="charity"
                    (change)="onSelectionCharityChange(charity.value)">
                    <option *ngFor="let c of charities" [value]="c.name">
                      {{c.name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row main align-items-center">
              <div class="images-container">
                  <div *ngFor="let i of images">
                    <div *ngIf="i">
                      <img  *ngIf="i" class="product-image" src="assets/img/{{i}}" />
                    </div>
                  </div>
              </div>
                <div class="text-center">
                    <input id="fileInput" type="file" style="display:none; " (change)="onFileSelected($event)" />
                  <input type="button" class="btn ss  mx-auto" value="UPLOAD IMAGE"
                    onclick="document.getElementById('fileInput').click();" />
                </div>
              </div>
              <div class="col">
                <input *ngIf="!AddSuccess" type="button" value="Add Product" (click)="AddProduct()"
                  class="btn text-uppercase" />
                <div *ngIf="AddSuccess">Product added successfully and is now pending for admin approval, please keep up with the request results in your store page</div>
              </div>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="!userCanAdd" class="container tm-mt-big tm-mb-big">
    <p class="fs-1 text-danger">Oops! It seems that your account is banned from adding any new products, please contact
      customer support for more details.</p>
  </div>
</body>
</html>


