<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="row d-flex justify-content-center my-4 card">
          <div class="card-header py-3">
            <h5 class="mb-0">Order</h5>
          </div>
          <div class="card-body">
            <div class="form-group mb-3"  >
              <label
                for="address"
                >Address &nbsp; </label >

              <select #address *ngIf="customer"
                class="custom-select tm-select-accounts" id="address" (change)="onSelectionAddressChange(address.value)">
                      <option *ngFor="let add of customer.Addresses" [value]="add.City">
                        {{add.ApartmentNumber+" | "+add.Street+" | "+add.Zone+" | "+add.City}}
                      </option>
                    </select>
                  </div>

            <div class="form-group mb-3"  >
              <label for="method">Payment Method   &nbsp; </label>
              <select #method
                  class="custom-select tm-select-accounts"
                  id="method">
                  <option value="Cash">Cash</option>
                  <option value="Stripe">Stripe</option>
              </select>
              </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="OrderNow(method.value)">
              Order Now
            </button>
            <div *ngIf="payVerified" style="color: red;"> Payment Verified</div>
            <div *ngIf="orderCompleted" style="color: red;"> Order Completed ! Please keep track of your order status.</div>
            </div>
          </div>
        <!-- <button class="btn-primary" (click)="pay(100)">Checkout</button> -->
      </div>
    </div>
  </div>
</section>
