<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<nav *ngIf="(isAdmin !== undefined||isAdmin!=false)" class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
      <a class="navbar-brand d-inline-flex" routerLink="" >
        <img class="d-inline-block logoimg" src="assets/img/logo2.png"  alt="logo" />
        <span class=" fs-0 fw-bold ms-2 mt-3 align-items-baseline" style="color: #64113F;">Second Hand</span>
      </a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item "><a class="nav-link fw-medium active" aria-current="page" href="#All"style="color: #64113F;">All Products</a></li>
          <li *ngIf="userToken"  class="nav-item "><a class="nav-link fw-medium" routerLink="store/{{userId}}">My Store!</a></li>
          <li *ngIf="userToken"  class="nav-item "><a class="nav-link fw-medium" routerLink="buyer/orders">My Orders</a></li>
          <li *ngIf="userToken"  class="nav-item "><a class="nav-link fw-medium" routerLink="Seller/RecievedOrders">Recieved Orders</a></li>
          <!-- <li  *ngIf="userToken"  class="nav-item ">

          </li> -->
          <!-- <li class="nav-item px-2"><a class="nav-link fw-medium" routerLink="cart">Cart</a></li> -->
          <!-- Cart  -->
          <div *ngIf="userToken"   class="pt-3 ">
            <a style="color:black" routerLink="cart"w><i style="font-size: 30px;" class="fa fa-shopping-cart"></i></a>
            <span class='badge badge-warning' id='lblCartCount' routerLink="cart">*</span>
         </div>

        </ul>

        <span *ngIf="userToken" style="color: #64113F;font-weight:bold;">Welcome, {{userName}}</span>
        <div  class="dropdown nav-item col-2" *ngIf="userToken">

          <img src="assets/img/user.png" class="user-pic dropdown-toggle row" data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="editprofile">Edit Profile</a></li>
            <li><a class="dropdown-item" routerLink="Seller/AddProduct">Add Product</a></li>
            <li><a class="dropdown-item" routerLink="cart">My Cart</a></li>
            <li><a class="dropdown-item" routerLink="store/{{userId}}">My Store</a></li>
            <li><a class="dropdown-item" href="" (click)="logOut()">LogOut</a></li>
          </ul>
        </div>

        <!-- <div *ngIf="userToken">
          <a class="nav-link fw-medium" style="color:  #FE5000;" routerLink="cart" >
              <i style="font-size: 30px;" class="fa fa-shopping-cart">
              </i>
          </a>
         </div> -->
        <form class="d-flex" *ngIf="!userToken">
          <a *ngIf="!userToken" class=" feather feather-phone me-3 fs-0 fw-bold" routerLink="login" style="color: #64113F;">Login</a>
          <a *ngIf="!userToken" class=" feather feather-phone me-3 fs-0 fw-bold" routerLink="signup" style="color: #64113F;">Register</a>
        </form>
      </div>
    </div>
  </nav>


