<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
      <a class="navbar-brand d-inline-flex" routerLink="" >
        <img class="d-inline-block logoimg" src="assets/img/logo2.png"  alt="logo" />
        <span class=" fs-0 fw-bold ms-2 mt-3 align-items-baseline" style="color: #64113F;">Second Hand</span>
      </a>
      <div class=" navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class=" me-auto mb-2 mb-lg-0">
          <li class="nav-item px-2" ><a *ngIf="!userToken" routerLink="signup">Register</a></li>
          <li class="nav-item px-2" ><a *ngIf="!userToken" routerLink="login">Login</a></li>
          <li  class="nav-item px-2" ><a *ngIf="userToken" routerLink="cart">MyCart</a></li>
          <li  class="nav-item px-2" ><a *ngIf="userToken" routerLink="store">My Store</a></li>
        </ul>
        <div  class="dropdown nav-item" *ngIf="userToken">
          <img src="assets/img/user.png" class="user-pic dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="editprofile">Edit Profile</a></li>
            <li><a class="dropdown-item" routerLink="Seller/AddProduct">Add Product</a></li>
            <li><a class="dropdown-item" routerLink="cart">My Cart</a></li>
            <li><a class="dropdown-item" routerLink="store">My Store</a></li>
            <li><a class="dropdown-item" (click)="logOut()">LogOut</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


