<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"> </span>
                                    <input type="text" placeholder="First Name"/>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"> </span>
                                    <input type="text" placeholder="Last Name"/>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"> </span>
                                    <input type="text" placeholder="Phone Number"/>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"> </span>
                                    <input type="text" placeholder="Email"/>
                                </div>
                            </div>
                           
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"> </span>
                                    <input [type]="type" placeholder="Password"/>
                                    <!--hena han7ot click event 3shan yazher el password w n3mel toggel-->
                                    <span (click)="HideShowPass()" class="fa {{icon}}"></span>

                                </div>
                            </div>
                            
                            <button type="submit" class="btn mt-4 w-100" style="background-color: #FE6D73; color: white;">Sign Up</button>
                            <div class="text-center pt-4 text-white">Already Have Account ?<a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                    <!-- <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt=""></a>
                            <a href="https://www.google.com" target="_blank" class="px-2"><img src="https://www.transparentpng.com/thumb/google-logo/google-logo-png-icon-free-download-SUF63j.png" alt=""></a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div> 
    </div>
</div>
