
        <section class="py-0 pt-7">
            <div class="container" style="background-color: #64113F;">
              <div class="row">
                <div class="col-6 col-lg-2 mb-3">
                  <h5 class="lh-lg fw-bold" style="color: #FFCB77;">Company Info</h5>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">About Us</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Our Services</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Privacy Program</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Affiliate Program</a></li>

                  </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                  <h5 class="lh-lg fw-bold " style="color: #FFCB77;">Get Help</h5>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Refunds</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Returns</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Order status</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Payment Options</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Shipping</a></li>
                  </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                  <h5 class="lh-lg fw-bold" style="color: #FFCB77;">Online Shop</h5>
                  <ul class="list-unstyled mb-md-4 mb-lg-0">
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Bag</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Clothes</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Watch</a></li>
                    <li class="lh-lg"><a class="text-white text-decoration-none" href="#!">Dresses</a></li>

                  </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                  <h5 class="lh-lg fw-bold" style="color: #FFCB77;">Contact</h5>
                  <p class="text-white">
                    <i class="fas fa-home mr-3"></i>Cairo, Helwan 2022
                  </p>
                  <p class="text-white">
                    <i class="fas fa-envelope mr-3"></i>secondhand20235@gmail.com
                  </p>
                  <p class="text-white">
                    <i class="fas fa-phone mr-3"></i>+02 100 344 5985
                  </p>

                </div>


              </div>
              <div class="border-bottom border-3"></div>
              <div class="row flex-center my-3">


              </div>
            </div>
          </section>
