<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
  <div class="container">
    <div class="product" *ngIf="Product">
      <div class="galllery">
        <img [src]="currentImage" alt="" id="proimg">
        <div class="controls">
          <span class="btn" [class.active]="activeIndex === 0" (click)="changeImage(0)"></span>
          <span class="btn" [class.active]="activeIndex === 1" (click)="changeImage(1)"></span>
          <span class="btn" [class.active]="activeIndex === 2" (click)="changeImage(2)"></span>
        </div>
      </div>
      <div class="details">
        <h1>{{Product.data.Name}}</h1>
        <p><B class="txt">Price: </B>EGP {{Product.data.Price}}</p>
        <p><B class="txt">Category: </B>{{Product.data.Category}}</p>
        <p><B class="txt">Color: </B>{{Product.data.Color}}</p>
        <p><B class="txt">Quantity: </B>{{Product.data.AvailableQuantity}}</p>
        <p><B class="txt">Release Date: </B>{{Product.data.ReleaseDate}}</p>
        <p><B class="txt">Seller Name: </B><a (click)="ClickSeller(Product.data.Seller.SellerID)" class="link" style="color:#64113F;">{{Product.data.Seller.SellerID.Name}}</a></p>
        <p><B class="txt">Seller Rate: </B>  <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> </p>
        <button class="btn-icon"  routerLink="" >Add To Cart<i class="fa-solid fa-shopping-cart"></i></button>
        <div class="btn-group" *ngIf="0">
          <button class="btn-icon" (click)="deleteProduct()">Delete<i class="fa-solid fa-trash"></i></button>
          <button class="btn-icon" >Edit<i class="fa-solid fa-pencil-alt"></i></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
