
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>

	<body>
<div class="wrapper" style="background-image: url('/assets/img/bg-registration-form-1.jpg');">
  <div class="inner">
    <div class="image-holder">
      <img src="/assets/img/bagpacks-1.png" alt="">
      <h1 style="color:#64113F" class="fw-bold text-center">Second Hand <span class="heart" style="color:#64113F">&hearts;</span></h1>
    </div>
    <form>
      <h3 style="color:#64113F" class="fw-bold">Product Details</h3>

     <h4 style="color:#64113F" class="fw-bold">Price : <span style="color: black; font-size:medium;">{{product.price}}</span> </h4>
     <h4 style="color:#64113F" class="fw-bold">Product Name : <span style="color: black; font-size:medium;">{{product.name}}</span></h4>
     <h4 style="color:#64113F" class="fw-bold">Color : <span style="color: black; font-size:medium;">{{product.color}}</span> </h4>
     <h4 style="color:#64113F" class="fw-bold">Category : <span style="color: black; font-size:medium;">{{product.category}}</span> </h4>
     <h4 style="color:#64113F" class="fw-bold">Description : <span style="color: black; font-size:medium;">{{product.description}}</span></h4>
     <h4 style="color:#64113F" class="fw-bold">Seller Name : <span style="color: black; font-size:medium;">{{product.sellerName}}</span> </h4>
      <button style="color: white; background-color: #64113F;">Add To cart
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
</body>
</html>
