
.form-control:focus {
  box-shadow: none;
  border-color: #8a2e5c
}

.profile-button {
  background: #64113F;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #8a2e5c
}

.profile-button:focus {
  background: #8a2e5c;
  box-shadow: none
}

.profile-button:active {
  background: #8a2e5c;
  box-shadow: none
}

.back:hover {
  color: #8a2e5c;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #8a2e5c;
  color: #fff;
  cursor: pointer;
  border: solid 1px #8a2e5c
}
hr{
  color: #64113F;
  margin-top: 40px;
}
