<section class="py-11 bg-light-gradient border-bottom border-white border-5">
  <div class="bg-holder overlay overlay-light" style="background-image:url(/assets/img/bg-registration-form-1.jpg);background-size:cover;"></div>
  <div class="container">
    <div class="row flex-center">
      <div class="col-12 mb-10">
        <div class="d-flex align-items-center flex-column">
          <h1 class="fw-normal" style="color: #64113F;"> Shop with a Purpose - Buy Affordable, Give Generously </h1>
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold" style="color: #64113F;">Second Hand <span class="heart" style="color: #64113F;">&hearts;</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="category">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-7 mx-auto text-center mb-6">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3" style="color: #64113F;">Second Hand Categories</h5>
      </div>
      <div class="col-12">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">

            <nav>
              <!--All Category we have -->
              <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-women" role="tablist">
                <li class="nav-item" role="presentation"><button class="nav-link active" id="pills-wtshirt-tab"
                    data-bs-toggle="pill" data-bs-target="#products" type="button" role="tab"
                    aria-controls="pills-wtshirt" aria-selected="false" style="background-color: #64113F;"
                    (click)="ClickAll()">All Products</button></li>
                <li *ngFor="let cat of Categories" class="nav-item" role="presentation"><button
                    (click)="ClickCat(cat.name)" class="nav-link" id="pills-wtshirt-tab" data-bs-toggle="pill"
                    data-bs-target="#products" type="button" role="tab" aria-controls="pills-wsunglasses"
                    aria-selected="false" style="color: #64113F;">{{cat.name}} </button></li>
              </ul>
            </nav>



            <div class="tab-content" id="pills-tabContentWomen">


              <!--All Products-->
              <div class="tab-pane fade show active" id="pills-wtshirt" role="tabpanel"
                aria-labelledby="pills-wtshirt-tab">
                <div class="" id="carouselCategoryWTshirt" data-bs-touch="false" data-bs-interval="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                      <div class="row h-100 align-items-center g-2">
                        <div class="col-sm-6 col-md-3 mb-3 mb-md-0 h-100 " *ngFor="let p of CurrProducts">

                          <div class="card card-span h-100 text-white rounded-4"
                            style="border-color: #64113F; border-width: 2px; height: 300px; width: 250px;">
                            <div style="height: 50%; width: 100%;">

                              <img class="img-fluid h-100" src="assets/img/{{p.Images[0]}}" style="width: 100%; height: 100%;"
                                alt="..." />
                            </div>
                            <div class="card-body ps-0 rounded-4 h-50 w-100" style="background-color:#ced4da;">

                              <h5 class="fw-bold  text-truncate text-center" style="color: #64113F;">{{p.Name}}</h5>
                              <div class="fw-bold text-center"><span class=" text-uppercase  fw-bold  me-2"
                                  style="color: #64113F;">Price : </span><span style="color: black;">{{p.Price}}</span>
                              </div>
                              <div class="fw-bold text-center"><span class=" text-uppercase  fw-bold  me-2"
                                  style="color: #64113F;">Category : </span><span
                                  style="color: black;">{{p.Category}}</span></div>
                              <div class="d-grid gap-5 d-md-flex justify-content-md-end">
                                <button type="button" class="btn fw-bold "
                                  style="background-color: #FFCB77; color: #64113F;" (click)="AddItemToCart(p._id)">Add to Cart</button>
                                <div>
                                  <button type="button" class="btn fw-bold"
                                    style="background-color: #FFCB77; color: #64113F;" (click)="ClickDetails(p)">View Details</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>










            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
