<section class="py-6 bg-light-gradient border-bottom border-white border-5">
  <div class="bg-holder overlay overlay-light" style="background-image:url(/assets/img/bg-registration-form-1.jpg);background-size:cover;"></div>
  <div class="container">
    <div class="row flex-center">
      <div class="col-12 mb-8">
        <div class="d-flex align-items-center flex-column pt-5">
          <h1 class="fw-normal" style="color: #64113F;"> Shop with a Purpose - Buy Affordable, Give Generously </h1>
          <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold" style="color: #64113F;">Second Hand <span class="heart" style="color: #64113F;">&hearts;</span>
          </h1>
        </div>
      </div>
      <div class="input-group">
        <input type="search" class="form-control rounded" #searchInput placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="Button" id="Search_Btn" (click)="SearchProducts(searchInput.value)" class="Custom_Btn btn btn-outline-primary">search</button>
      </div>

    </div>
  </div>
</section>


<section id="category">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-7 mx-auto text-center mb-6">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3" style="color: #64113F;">Second Hand Categories</h5>
      </div>
      <div class="col-12">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-women" role="tabpanel" aria-labelledby="nav-women-tab">

            <nav>
              <!--All Category we have -->
              <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab-women" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-wtshirt-tab"
                      data-bs-toggle="pill" data-bs-target="#products" type="button" role="tab"
                      aria-controls="pills-wtshirt" aria-selected="false"
                      (click)="ClickAll()">All Products
                    </button></li>
                <li *ngFor="let cat of Categories" class="nav-item" role="presentation">
                  <button
                    (click)="ClickCat(cat.name)" class="nav-link" id="pills-wtshirt-tab" data-bs-toggle="pill"
                    data-bs-target="#products" type="button" role="tab" aria-controls="pills-wsunglasses"
                    aria-selected="false">{{cat.name}}
                  </button></li>
              </ul>
            </nav>
            <div class=" container d-flex align-items-center justify-content-center" data-role="rangeslider">
              <div ><pre class="fs-6 fs-lg-6 fs-md-6 fw-bold" style="color: #64113F;">Price </pre>  </div>
              <div  class="position-relative py-4" style="width:40%;">
                <input type="range" class="form-range slider" id="customRange1" max="1000" min="0" (input)="SliderMoved($event)">
                <span class="position-absolute top-50 end-0 pt-2 fw-bold">1000</span>
                <span class="position-absolute top-50 start-0  pt-2 fw-bold">{{CurrPrice}}</span>
                  <!-- <span>0</span><span>EGP</span> -->

              </div>

            </div>


            <div class="tab-content" id="pills-tabContentWomen">

              <section class="tab-pane fade show active" id="pills-wtshirt" role="tabpanel"
              aria-labelledby="pills-wtshirt-tab" style="background-color: #FFFFFF;">
                <div class="container py-2">

                  <div class="row justify-content-center">
                    <div class="col-md-3 col-lg-3 col-xl-3 " *ngFor="let p of CurrProducts">
                      <div class="card" style="border-radius: 15px;">
                        <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light " style="height:250px; width:100%"
                          data-mdb-ripple-color="light">
                          <img src="assets/img/{{p.Images[0]}}"
                            style="border-top-left-radius: 15px; border-top-right-radius: 15px;height:100%; width:100%" class="img-fluid"
                            alt={{p.Name}}
                            (click)="ClickDetails(p)"/>
                          <a href="#!">
                            <div class="mask"></div>
                          </a>
                        </div>
                        <div class="card-body pb-0 "  style="background-color:#F6F6F6;">
                          <div class="d-flex justify-content-between pb-2">
                            <div>
                              <p style="color:#64113F"><strong>{{p.Name||"None"}}</strong></p>
                              <img *ngIf="p.Donate"  style="width: 10%; display: inline; position: absolute;
                                  bottom: 8px;
                                  right: 16px;
                                  font-size: 18px;"  src="assets/img/heart.png"  title="When this product is sold, the money will go to charity" alt="loading"
                                />
                              <span class="small text-muted">{{p.Category||"None"}}</span>
                              <span><a class="text-dark position-absolute top-80 end-0 pe-3">{{p.Price}} EGP</a></span>
                            </div>
                          </div>

                          <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                            <button type="button"  class="Custom_Btn btn btn-primary" (click)="AddItemToCart(p._id,$event)" [innerHtml]="val"></button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </section>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
