<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
      <a class="navbar-brand d-inline-flex" routerLink="" >
        <img class="d-inline-block logoimg" src="assets/img/logo2.png"  alt="logo" />
        <span class=" fs-0 fw-bold ms-2 mt-3 align-items-baseline" style="color: #64113F;">Second Hand</span>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="#All"style="color: #64113F;">All Products</a></li>
          <li class="nav-item px-2"><a class="nav-link fw-medium" href="#category" style="color: #64113F;">Category</a></li>
          <li class="nav-item px-2"><a class="nav-link fw-medium" href="#best"style="color: #64113F;">Best Seller</a></li>
          <li class="nav-item px-2"><a class="nav-link fw-medium" href="#outlet" style="color: #64113F;">Bags</a></li>
        </ul>
        <form class="d-flex">
          <a class=" feather feather-phone me-3 fs-0 fw-bold" routerLink="login" style="color: #64113F;">Login</a>
          <a class=" feather feather-phone me-3 fs-0 fw-bold" routerLink="signup" style="color: #64113F;">Register</a>
          <a class=" feather feather-phone me-3 fs-0 fw-bold" routerLink="login" style="color: #64113F;">LogOut</a>
        </form>
      </div>
    </div>
  </nav>
  <section class="py-11 bg-light-gradient border-bottom border-white border-5">
    <div class="bg-holder overlay overlay-light" style="background-image:url(/assets/img/bg-registration-form-1.jpg);background-size:cover;"></div>
    <div class="container">
      <div class="row flex-center">
        <div class="col-12 mb-10">
          <div class="d-flex align-items-center flex-column">
            <h1 class="fw-normal" style="color: #64113F;"> Shop with a Purpose - Buy Affordable, Give Generously </h1>
            <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold" style="color: #64113F;">Second Hand <span class="heart" style="color: #64113F;">&hearts;</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>